*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

h1{
	font-size: 6rem;
	font-family: 'Orbitron', sans-serif;
	color:#003366; 
} 

.padding{
	padding-left: .3rem;
}

.flex{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;


}

.border{
	display: flex;
	justify-content: center;
	padding: 0 2rem;
	border: 9px solid black;
	border-radius: 18px;
	background-color: #B6B2A9;
}